.anchor {
	text-decoration: none;
	vertical-align: middle;
	margin: auto;
	text-align: left;
	padding-right: 1rem;
}
.anchor::before {
	content: "§";
	width: 1rem;
	display: inline-block;
	user-select: none;
}

code {
	padding: 0.15em 0.3em;
	overflow-wrap: break-word;
	word-break: break-all;
	white-space: pre-wrap;

	background-color: var(--surface0);
	color: var(--subtext1);
}

/* code blocks */
pre > code {
	border: 2px solid var(--surface0);
	padding: 1.25em 1.5em;
	display: block;

	background-color: unset;
	color: unset;
}

img {
	max-width: 100%;
}

table,
td,
th {
	border-collapse: collapse;
}

td,
th {
	padding: 0.5em;
	border: 2px solid var(--text);
}

table {
	display: block;
	max-width: 100%;
	box-sizing: border-box;
	overflow-x: scroll;
}

th {
	font-weight: bold;
}

td {
	word-break: break-word;
}

th,
td:nth-child(1) {
	word-break: keep-all;
}

blockquote {
	margin-left: 1em;
	padding-left: 1.5em;
	border-left: 0.5em solid;
	border-color: var(--blue);
	& > blockquote {
		border-color: var(--mauve);
		& > blockquote {
			border-color: var(--pink);
			& > blockquote {
				border-color: var(--rosewater);
				& > blockquote {
					border-color: var(--text);
				}
			}
		}
	}
}
