{%- import "macros.askama" as macros -%}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="{{ title }}" />
		<meta property="og:title" content="{{ title }}" />
		<meta property="og:description" content="{{ description }}" />
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/static/style.css" />
		{% if rss %}
		<link rel="alternate" type="application/rss+xml" title="{{ title }}" href="/feed.xml" />
		{% endif %} {% if js %}
		<script src="/static/main.js" defer></script>
		{% endif %}
	</head>
	<body>
		<main>
			<h1>{{ title }}</h1>
			<p>{{ description }}</p>
			<h2>posts</h2>
			<!-- prettier-ignore -->
			<div>
				{% if posts.is_empty() %}
				there are no posts right now. check back later!
				{% endif %}<!-- prettier-br -->
				{% for post in posts %}
				<div class="post">
					<a href="/posts/{{ post.name }}"><b>{{ post.title }}</b></a>
					<span class="post-author">- by {{ post.author }}</span>
					<br />
					{{ post.description }}<br />
					{% call macros::table(post) %}
				</div>
				{% endfor %}
			</div>
			{% let tags = posts|collect_tags %}<!-- prettier-br -->
			{% if !tags.is_empty() %}
			<h2>tags</h2>
			{% endif %}<!-- prettier-br -->
			{% for tag in tags %}
			<a href="/?tag={{ tag.0 }}" title="view all posts with this tag">{{ tag.0 }}</a>
			<span class="post-author">- {{ tag.1 }} post{% if tag.1 != 1 %}s{%endif %}</span><br />
			{% endfor %}
		</main>
	</body>
</html>
