<div class="table">
	{{#if (and (ne this.written_at null) style.display_dates.creation)}}
		<div class="created">written</div>
		<div class="created value">{{>span_date dt=this.written_at df=style.date_format}}</div>
	{{/if}}
	{{#if (and (ne this.modified_at null) style.display_dates.modification)}}
		<div class="modified">last modified</div>
		<div class="modified value">{{>span_date dt=this.modified_at df=style.date_format}}</div>
	{{/if}}
	{{#if (gt (len this.tags) 0)}}
		<div class="tags">tags</div>
		<div class="tags value">
			{{#each this.tags}}
				<a href="/?tag={{this}}" title="view all posts with this tag">{{this}}</a>
			{{/each}}
		</div>
	{{/if}}
</div>
