{%- import "macros.askama" as macros -%}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="author" content="{{ meta.author }}" />
		<meta name="keywords" content="{{ meta.tags|join_tags_for_meta }}" />
		<meta name="description" content="{{ meta.title }}" />
		<!-- you know what I really love? platforms like discord
			favoring twitter embeds over the open standard. to color
			your embed or have large images, you have to do _this_. lmao -->
		<meta property="og:title" content="{{ meta.title }}" />
		<meta property="twitter:title" content="{{ meta.title }}" />
		<meta property="og:description" content="{{ meta.description }}" />
		<meta property="twitter:description" content="{{ meta.description }}" />
		{% match meta.icon %} {% when Some with (url) %}
		<meta property="og:image" content="{{ url }}" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:image:src" content="{{ url }}" />
		{% match meta.icon_alt %} {% when Some with (alt) %}
		<meta property="og:image:alt" content="{{ alt }}" />
		<meta property="twitter:image:alt" content="{{ alt }}" />
		{% when None %} {% endmatch %}
		<!-- prettier-br -->
		{% when None %} {% endmatch %}
		<!-- prettier is annoying -->
		{% match color %} {% when Some with (color) %}
		<meta name="theme-color" content="{{ color }}" />
		{% when None %} {% endmatch %}
		<title>{{ meta.title }}</title>
		<link rel="stylesheet" href="/static/style.css" />
		<link rel="stylesheet" href="/static/post.css" />
		{% if js %}
		<script src="/static/date.js" defer></script>
		<script src="/static/main.js" defer></script>
		{% endif %}
	</head>
	<body>
		<main>
			<h1 class="post-title">
				{{ meta.title }}
				<span class="post-author">- by {{ meta.author }}</span>
			</h1>
			<p class="post-desc">{{ meta.description }}</p>
			<div class="post">
				<!-- prettier-ignore -->
				{% call macros::table(meta) %}
				<a href="/posts/{{ meta.name }}">link</a><br />
				<a href="/">back to home</a>
			</div>
			<hr />
			{{ rendered|escape("none") }}
		</main>
		<!-- prettier-ignore -->
		<footer>
		{% match rendered_in %}
		{% when RenderStats::ParsedAndRendered(total, parsing, rendering) %}
			<span class="tooltipped" title="parsing took {{ parsing|duration }}">parsed</span> and
			<span class="tooltipped" title="rendering took {{ rendering|duration }}">rendered</span> in {{ total|duration }}
		{% when RenderStats::Cached(total) %}
			retrieved from cache in {{ total|duration }}
		{% endmatch %}
		{% if markdown_access %}
			- <a href="/posts/{{ meta.name }}.md">view raw</a>
		{% endif %}
		</footer>
	</body>
</html>
