<!DOCTYPE html>
<html lang="en">
	<head>
		<head>
			<meta charset="UTF-8" />
			<meta
				name="viewport"
				content="width=device-width, initial-scale=1.0"
			/>
			<meta name="description" content="{{ meta.title }}" />
			<meta property="og:title" content="{{ meta.title }}" />
			<meta property="og:description" content="{{ meta.description }}" />
			{% match meta.icon %} {% when Some with (url) %}
			<meta property="og:image" content="{{ url }}" />
			<link rel="shortcut icon" href="{{ url }}" />
			{% when None %} {% endmatch %}
			<title>{{ meta.title }}</title>
			<link rel="stylesheet" href="/static/style.css" />
			<link rel="stylesheet" href="/static/post.css" />
		</head>
	</head>
	<body>
		<main>{{ rendered|escape("none") }}</main>
		<!-- prettier-ignore -->
		<footer>
		{% match rendered_in %}
		{% when RenderStats::ParsedAndRendered(total, parsing, rendering) %}
			<span class="tooltipped" title="parsing took {{ parsing|duration }}">parsed</span> and
			<span class="tooltipped" title="rendering took {{ rendering|duration }}">rendered</span> in {{ total|duration }}
		{% when RenderStats::Cached(total) %}
			retrieved from cache in {{ total|duration }}
		{% endmatch %}
		</footer>
	</body>
</html>
